---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-12">

    {% include index/description.html %}
   
  </div>
  <div class="col-md-6">  

    {% include index/carousel.html%}

  </div>
  <div class="col-md-6">

{% include feature/card.html header="How to Search this Collection" text="This website is useful to researchers who already have an executive order number or want to browse years.

To find a specific executive order, enter the numeric designation and year into the search box above. Alternatively, click on the Timeline button above and browse by year. 

This website does not search the text of any documents. It only looks for years and executive order numeric designations."%}
   
  </div>

</div>